

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.btn-group {
    padding: 20px 20px;
    margin-top: 80vh;
    margin-left: 8vh;
    font-size: 1.1rem;
    display: inline-block;
    position: relative;
}


.freelancer-btn {
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(88, 88, 88, 0.9);
    padding: 14px 28px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    vertical-align: middle;
}
.freelancer-btn:hover {
    border-color: rgb(0, 0, 0);
    background: rgba(88, 88, 88, 0.5);
    color: rgb(255, 255, 255);
}

.projects-btn {
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(88, 88, 88, 0.9);
    padding: 14px 28px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    vertical-align: middle;
}
.projects-btn:hover {
    border-color: rgb(0, 0, 0);
    background: rgba(78, 78, 78, 0.5);
    color: rgb(255, 255, 255);
}

/* cabeçalho */
.header {
    width: 100%;
    height: 50px;
    display: flex;
    position: absolute;
    background: rgba(88, 88, 88, 0.9);
    color: rgb(255, 255, 255);
}

.inner-header {
    height: 50px;
    width: 100%;
}

.user-links {
    height: 50px;
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: right;
}

.links {
    display: block;
    color: rgb(255, 255, 255);
    padding: 10px;
    background: rgba(0, 0, 0, 0);
    border-radius: 7px;
}
.links:hover {
    border: solid 1px rgb(0, 0, 0);
    background-color: rgba(162, 162, 162, 0.2);
    transition: 250ms;
}


.index-title {
    color: rgb(255, 255, 255);
    display: flex;
    animation: animate 48s ease-in-out infinite;
    background-position: center;
    min-height: 100vh;
}
@keyframes animate {
    0%, 100% {
        background: url("../img/slide-01.jpg") no-repeat;
        background-size: cover;
    }
    25% {
        background: url("../img/slide-02.jpg") no-repeat;
        background-size: cover;
    }
    50% {
        background: url("../img/slide-03.jpg") no-repeat;
        background-size: cover;
    }
    75% {
        background: url("../img/slide-04.jpg") no-repeat;
        background-size: cover;
    }
}

.index-h {
    display: flex;
    position: absolute;
    margin-left: 3vh;
    margin-top: calc(50px + 2vh);
    overflow: hidden;
}

/* ffff */

.title {
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    margin-top: calc(50px + 5vh);
    margin-bottom: 5vh;
}

.about-p {
    margin: 3vh;
}


.team {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}

.overflow {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    min-height: calc(100vh - 50px);
    min-width: 100%;
}


.fotter { 
    position: fixed;
    bottom: 0;
    color: rgb(255, 255, 255);
}

.user-footer-links {
    position: absolute;
    font-size: 12px;
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.footer-links {
    color: rgb(255, 255, 255); 
    font-weight: bold; 
    margin: 10px;
    border-radius: 7px;
    padding: 7px;
    left: 20px; 
}
.footer-links:hover {
    border: solid 1px rgb(0, 0, 0);
    background-color: rgba(162, 162, 162, 0.2);
    transition: 250ms;
}